* {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
}

.button:hover {
  background-color: steelBlue;
}

#container {
  display: flex;
  justify-content: center;
  /* flex-direction: row;
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
  align-content: center; */
}

/* .column {
  flex-grow: 1;
} */

.square {
  border-radius: 50%;
  background-color: yellow;
  margin: 5px;
  height: 60px;
  width: 60px;
}

.clicked-player1 {
  background-color: green;
}

.clicked-player2 {
  background-color: red;
}

.hide-on-start {
  display: none;
}

#log {
  font-size: xx-large;
    font-weight: bold;
    border: 5px solid purple;
    width: 50%;
    margin: 0 auto;
}
