* {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

.square {
  /* border: 1px solid black; */
  width: 18vw;
  height: 18vh;
  border-radius: 100%;
  background-color: yellow;
  margin: 5px;
}

/* .square-clicked {
  background-color: purple;
} */

.square-clicked-player1 {
  background-color: green;
}

.square-clicked-player2 {
  background-color: red;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.button {
  background-color: purple;
  width: 10vw;
  height: 5vh;
  margin: 10px;
}
